In [246]:
import pandas as pd

# Creating Data

In [247]:
pd.DataFrame({'YES':[50,20],'NO':[40,23]})

   YES  NO
0   50  40
1   20  23

In [248]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [249]:
pd.DataFrame({'Bob': ['I liked it', 'It was awful'], 'Sue': ['Pretty good', 'Bland']}, index = ['Product A','Product B'])

                    Bob          Sue
Product A    I liked it  Pretty good
Product B  It was awful        Bland

In [250]:
pd.Series([1,2,3,4,5,6])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [251]:
pd.Series([230,240,250],index =['2021','2022','2023'],name = "Product A")

2021    230
2022    240
2023    250
Name: Product A, dtype: int64

#Reading data files

In [252]:
pd.read_csv("sample_data/california_housing_test.csv")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [253]:
home_reviews = pd.read_csv("sample_data/california_housing_test.csv")

In [254]:
home_reviews.shape

(3000, 9)

In [255]:
home_reviews.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [256]:
home_reviews = pd.read_csv("sample_data/california_housing_test.csv",index_col=0)
home_reviews.head()

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,,,,,,,,
-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

# Indexing, Selecting & Assigning

In [257]:
home_reviews = pd.read_csv("sample_data/california_housing_test.csv")
home_reviews

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [258]:
home_reviews.population

0       1537.0
1        809.0
2       1484.0
3         49.0
4        850.0
         ...
2995    1258.0
2996    3496.0
2997     693.0
2998      46.0
2999     753.0
Name: population, Length: 3000, dtype: float64

In [259]:
home_reviews['population']

0       1537.0
1        809.0
2       1484.0
3         49.0
4        850.0
         ...
2995    1258.0
2996    3496.0
2997     693.0
2998      46.0
2999     753.0
Name: population, Length: 3000, dtype: float64

In [260]:
home_reviews['population'][0]

1537.0

#Indexing in Pandas

In [261]:
home_reviews.iloc[0]

longitude               -122.0500
latitude                  37.3700
housing_median_age        27.0000
total_rooms             3885.0000
total_bedrooms           661.0000
population              1537.0000
households               606.0000
median_income              6.6085
median_house_value    344700.0000
Name: 0, dtype: float64

In [262]:
home_reviews.iloc[:, 0]

0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64

In [263]:
home_reviews.iloc[:3,0]

0   -122.05
1   -118.30
2   -117.81
Name: longitude, dtype: float64

In [264]:
home_reviews.iloc[1:3, 0]

1   -118.30
2   -117.81
Name: longitude, dtype: float64

In [265]:
home_reviews.iloc[[0, 1, 2], 0]

0   -122.05
1   -118.30
2   -117.81
Name: longitude, dtype: float64

In [266]:
home_reviews.iloc[-5:]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [267]:
home_reviews.loc[0, 'longitude']

-122.05

In [268]:
home_reviews.loc[:, ['longitude','latitude','housing_median_age']]

      longitude  latitude  housing_median_age
0       -122.05     37.37                27.0
1       -118.30     34.26                43.0
2       -117.81     33.78                27.0
3       -118.36     33.82                28.0
4       -119.67     36.33                19.0
...         ...       ...                 ...
2995    -119.86     34.42                23.0
2996    -118.14     34.06                27.0
2997    -119.70     36.30                10.0
2998    -117.12     34.10                40.0
2999    -119.63     34.42                42.0

[3000 rows x 3 columns]

#Manuplating Index

In [269]:
home_reviews.set_index("total_rooms")

,longitude,latitude,housing_median_age,total_bedrooms,population,households,median_income,median_house_value
total_rooms,,,,,,,,
3885.0,-122.05,37.37,27.0,661.0,1537.0,606.0,6.6085,344700.0
1510.0,-118.30,34.26,43.0,310.0,809.0,277.0,3.5990,176500.0
3589.0,-117.81,33.78,27.0,507.0,1484.0,495.0,5.7934,270500.0
67.0,-118.36,33.82,28.0,15.0,49.0,11.0,6.1359,330000.0
1241.0,-119.67,36.33,19.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...
1450.0,-119.86,34.42,23.0,642.0,1258.0,607.0,1.1790,225000.0
5257.0,-118.14,34.06,27.0,1082.0,3496.0,1036.0,3.3906,237200.0
956.0,-119.70,36.30,10.0,201.0,693.0,220.0,2.2895,62000.0
96.0,-117.12,34.10,40.0,14.0,46.0,14.0,3.2708,162500.0
1765.0,-119.63,34.42,42.0,263.0,753.0,260.0,8.5608,500001.0

#Conditional Selection

In [270]:
home_reviews.total_rooms == 1241

0       False
1       False
2       False
3       False
4        True
        ...
2995    False
2996    False
2997    False
2998    False
2999    False
Name: total_rooms, Length: 3000, dtype: bool

In [271]:
home_reviews.loc[(home_reviews.total_rooms >= 1241) & (home_reviews.total_bedrooms >= 90)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
...,...,...,...,...,...,...,...,...,...
2991,-117.17,34.28,13.0,4867.0,718.0,780.0,250.0,7.1997,253800.0
2993,-117.91,33.60,37.0,2088.0,510.0,673.0,390.0,5.1048,500001.0
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [272]:
home_reviews.loc[(home_reviews.total_rooms >= 1241) | (home_reviews.total_bedrooms >= 90)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
...,...,...,...,...,...,...,...,...,...
2994,-117.93,33.86,35.0,931.0,181.0,516.0,174.0,5.5867,182500.0
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [273]:
home_reviews.loc[home_reviews.total_rooms.isin([1241, 1018])]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
1150,-120.05,34.47,21.0,1241.0,248.0,746.0,211.0,3.8056,425000.0
1884,-117.30,34.12,43.0,1018.0,261.0,736.0,215.0,2.6000,66900.0

In [274]:
home_reviews.loc[home_reviews.population.notnull()]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [275]:
home_reviews['critic'] = 'everyone'
home_reviews['critic']

0       everyone
1       everyone
2       everyone
3       everyone
4       everyone
          ...
2995    everyone
2996    everyone
2997    everyone
2998    everyone
2999    everyone
Name: critic, Length: 3000, dtype: object

In [276]:
home_reviews['index_backwards'] = range(len(home_reviews), 0, -1)
home_reviews

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,critic,index_backwards
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,everyone,3000
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,everyone,2999
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,everyone,2998
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,everyone,2997
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,everyone,2996
...,...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,everyone,5
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,everyone,4
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,everyone,3
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,everyone,2
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,everyone,1

#Summary Functions

In [277]:
home_reviews

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,critic,index_backwards
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,everyone,3000
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,everyone,2999
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,everyone,2998
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,everyone,2997
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,everyone,2996
...,...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,everyone,5
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,everyone,4
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,everyone,3
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,everyone,2
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,everyone,1

In [278]:
home_reviews.housing_median_age.describe()

count    3000.000000
mean       28.845333
std        12.555396
min         1.000000
25%        18.000000
50%        29.000000
75%        37.000000
max        52.000000
Name: housing_median_age, dtype: float64

In [279]:
home_reviews.housing_median_age.mean()

28.845333333333333

In [280]:
home_reviews.housing_median_age.unique()

array([27., 43., 28., 19., 37., 15., 31., 45., 36., 16., 42., 26., 35.,
       40., 47., 13., 52., 32., 30., 14., 34., 17.,  5., 38., 33., 11.,
       48.,  4., 24.,  6., 21., 39., 10., 44., 18., 12., 22., 29., 46.,
       50., 20., 49., 25., 23., 41.,  8.,  3.,  7.,  9.,  2., 51.,  1.])

In [281]:
home_reviews.housing_median_age.value_counts()

52.0    173
35.0    118
36.0    115
16.0    107
34.0    102
17.0    100
32.0     91
37.0     88
26.0     88
25.0     86
33.0     85
15.0     77
19.0     76
18.0     76
30.0     76
24.0     75
29.0     75
27.0     74
38.0     64
20.0     63
21.0     61
22.0     60
28.0     58
14.0     57
31.0     57
41.0     56
43.0     56
39.0     55
23.0     53
44.0     51
45.0     51
42.0     51
40.0     43
46.0     41
11.0     41
12.0     41
13.0     41
5.0      39
48.0     34
10.0     30
4.0      28
9.0      27
6.0      25
8.0      25
47.0     22
49.0     21
7.0      20
50.0     16
3.0      12
51.0     11
2.0       6
1.0       2
Name: housing_median_age, dtype: int64

#Maps

In [282]:
home_reviews_age_mean = home_reviews.housing_median_age.mean()
home_reviews.housing_median_age.map( lambda p : p - home_reviews_age_mean )

0       -1.845333
1       14.154667
2       -1.845333
3       -0.845333
4       -9.845333
          ...
2995    -5.845333
2996    -1.845333
2997   -18.845333
2998    11.154667
2999    13.154667
Name: housing_median_age, Length: 3000, dtype: float64

In [283]:
def remean_ages(row):
  row.housing_median_age = row.housing_median_age - home_reviews_age_mean
  return row

home_reviews.apply(remean_ages, axis='columns')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,critic,index_backwards
0,-122.05,37.37,-1.845333,3885.0,661.0,1537.0,606.0,6.6085,344700.0,everyone,3000
1,-118.30,34.26,14.154667,1510.0,310.0,809.0,277.0,3.5990,176500.0,everyone,2999
2,-117.81,33.78,-1.845333,3589.0,507.0,1484.0,495.0,5.7934,270500.0,everyone,2998
3,-118.36,33.82,-0.845333,67.0,15.0,49.0,11.0,6.1359,330000.0,everyone,2997
4,-119.67,36.33,-9.845333,1241.0,244.0,850.0,237.0,2.9375,81700.0,everyone,2996
...,...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,-5.845333,1450.0,642.0,1258.0,607.0,1.1790,225000.0,everyone,5
2996,-118.14,34.06,-1.845333,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,everyone,4
2997,-119.70,36.30,-18.845333,956.0,201.0,693.0,220.0,2.2895,62000.0,everyone,3
2998,-117.12,34.10,11.154667,96.0,14.0,46.0,14.0,3.2708,162500.0,everyone,2
2999,-119.63,34.42,13.154667,1765.0,263.0,753.0,260.0,8.5608,500001.0,everyone,1

In [284]:
home_reviews.head(1)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,critic,index_backwards
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,everyone,3000

In [285]:
home_review_age_mean = home_reviews.housing_median_age.mean()
home_reviews.housing_median_age - home_review_age_mean

0       -1.845333
1       14.154667
2       -1.845333
3       -0.845333
4       -9.845333
          ...
2995    -5.845333
2996    -1.845333
2997   -18.845333
2998    11.154667
2999    13.154667
Name: housing_median_age, Length: 3000, dtype: float64

In [286]:
home_reviews.longitude.apply(str) + " - " + home_reviews.latitude.apply(str)

0       -122.05 - 37.37
1        -118.3 - 34.26
2       -117.81 - 33.78
3       -118.36 - 33.82
4       -119.67 - 36.33
             ...
2995    -119.86 - 34.42
2996    -118.14 - 34.06
2997      -119.7 - 36.3
2998     -117.12 - 34.1
2999    -119.63 - 34.42
Length: 3000, dtype: object

#Grouping and Sorting

In [287]:
home_reviews.groupby('housing_median_age').housing_median_age.count()

housing_median_age
1.0       2
2.0       6
3.0      12
4.0      28
5.0      39
6.0      25
7.0      20
8.0      25
9.0      27
10.0     30
11.0     41
12.0     41
13.0     41
14.0     57
15.0     77
16.0    107
17.0    100
18.0     76
19.0     76
20.0     63
21.0     61
22.0     60
23.0     53
24.0     75
25.0     86
26.0     88
27.0     74
28.0     58
29.0     75
30.0     76
31.0     57
32.0     91
33.0     85
34.0    102
35.0    118
36.0    115
37.0     88
38.0     64
39.0     55
40.0     43
41.0     56
42.0     51
43.0     56
44.0     51
45.0     51
46.0     41
47.0     22
48.0     34
49.0     21
50.0     16
51.0     11
52.0    173
Name: housing_median_age, dtype: int64

In [288]:
home_reviews.groupby('housing_median_age').total_rooms.min()

housing_median_age
1.0        6.0
2.0      158.0
3.0     1206.0
4.0     1346.0
5.0      906.0
6.0      110.0
7.0      586.0
8.0      446.0
9.0       97.0
10.0     105.0
11.0     673.0
12.0     701.0
13.0     493.0
14.0     388.0
15.0     202.0
16.0      19.0
17.0     353.0
18.0     224.0
19.0      99.0
20.0      41.0
21.0      49.0
22.0     312.0
23.0     141.0
24.0     172.0
25.0     185.0
26.0      18.0
27.0     418.0
28.0      67.0
29.0     488.0
30.0     156.0
31.0     314.0
32.0     265.0
33.0     142.0
34.0     172.0
35.0     120.0
36.0      21.0
37.0      74.0
38.0     324.0
39.0      45.0
40.0      96.0
41.0     337.0
42.0      42.0
43.0     107.0
44.0     305.0
45.0     204.0
46.0      38.0
47.0     307.0
48.0     284.0
49.0      32.0
50.0     180.0
51.0     902.0
52.0      16.0
Name: total_rooms, dtype: float64

In [289]:
home_reviews.groupby('housing_median_age').apply(lambda df: df.total_rooms.iloc[0])

housing_median_age
1.0        83.0
2.0       158.0
3.0      6164.0
4.0      9998.0
5.0     16181.0
6.0      1649.0
7.0      6055.0
8.0      3248.0
9.0       674.0
10.0     3054.0
11.0     5785.0
12.0     2290.0
13.0     6131.0
14.0     1195.0
15.0     3080.0
16.0     3936.0
17.0     3442.0
18.0     1747.0
19.0     1241.0
20.0     1745.0
21.0      554.0
22.0     1892.0
23.0     2415.0
24.0     1212.0
25.0     2615.0
26.0     3077.0
27.0     3885.0
28.0       67.0
29.0     3051.0
30.0     3078.0
31.0     2402.0
32.0     2612.0
33.0     2886.0
34.0     1617.0
35.0     8814.0
36.0     1089.0
37.0     1018.0
38.0     1067.0
39.0     2003.0
40.0     1445.0
41.0     1743.0
42.0      161.0
43.0     1510.0
44.0     1449.0
45.0      972.0
46.0      860.0
47.0     2994.0
48.0     1308.0
49.0     2120.0
50.0     2935.0
51.0     1005.0
52.0     3587.0
dtype: float64

In [290]:
home_reviews.groupby(['longitude', 'latitude']).apply(lambda df: df.loc[df.housing_median_age.idxmax()])

                    longitude  latitude  housing_median_age  total_rooms  \
longitude latitude
-124.18   40.79       -124.18     40.79                40.0       1398.0
-124.17   41.80       -124.17     41.80                16.0       2739.0
-124.16   40.77       -124.16     40.77                35.0       2141.0
          40.79       -124.16     40.79                46.0       3042.0
          40.80       -124.16     40.80                52.0       2167.0
...                       ...       ...                 ...          ...
-114.98   33.07       -114.98     33.07                18.0       1183.0
-114.62   33.62       -114.62     33.62                26.0         18.0
-114.61   33.62       -114.61     33.62                16.0       1187.0
-114.55   32.80       -114.55     32.80                19.0       2570.0
-114.49   33.97       -114.49     33.97                17.0       2809.0

                    total_bedrooms  population  households  median_income  \
longitude latitude
-124.18   40.79              311.0       788.0       279.0         1.4668
-124.17   41.80              480.0      1259.0       436.0         3.7557
-124.16   40.77              438.0      1053.0       434.0         2.8529
          40.79              597.0      1206.0       541.0         2.1135
          40.80              480.0       908.0       451.0         1.6111
...                            ...         ...         ...            ...
-114.98   33.07              363.0       374.0       127.0         3.1607
-114.62   33.62                3.0         5.0         3.0         0.5360
-114.61   33.62              261.0      1115.0       242.0         2.1759
-114.55   32.80              820.0      1431.0       608.0         1.2750
-114.49   33.97              635.0        83.0        45.0         1.6154

                    median_house_value    critic  index_backwards
longitude latitude
-124.18   40.79                64600.0  everyone             1124
-124.17   41.80               109400.0  everyone             1578
-124.16   40.77                85600.0  everyone             2889
          40.79                90600.0  everyone              423
          40.80                74700.0  everyone             1882
...                                ...       ...              ...
-114.98   33.07                57500.0  everyone             2756
-114.62   33.62               275000.0  everyone              360
-114.61   33.62                61500.0  everyone             1855
-114.55   32.80                56100.0  everyone             1405
-114.49   33.97                87500.0  everyone              945

[2712 rows x 11 columns]

In [291]:
home_reviews.groupby(['housing_median_age']).population.agg([len, min, max])

                    len    min      max
housing_median_age
1.0                   2    8.0     32.0
2.0                   6   25.0   9419.0
3.0                  12  563.0   5226.0
4.0                  28  545.0  10877.0
5.0                  39  497.0  11935.0
6.0                  25   69.0   6223.0
7.0                  20  232.0   7302.0
8.0                  25  188.0   5804.0
9.0                  27   91.0   7596.0
10.0                 30   78.0   4936.0
11.0                 41  318.0   5682.0
12.0                 41  423.0  11139.0
13.0                 41  196.0   4251.0
14.0                 57   35.0   6443.0
15.0                 77  138.0   4591.0
16.0                107   32.0   4930.0
17.0                100   83.0   8768.0
18.0                 76   95.0   6303.0
19.0                 76   51.0   6810.0
20.0                 63   31.0   5452.0
21.0                 61   29.0   7431.0
22.0                 60  413.0   5389.0
23.0                 53   47.0   4797.0
24.0                 75   79.0   4333.0
25.0                 86   85.0   5237.0
26.0                 88    5.0   3657.0
27.0                 74  314.0   3559.0
28.0                 58   49.0   4551.0
29.0                 75  161.0   3985.0
30.0                 76   77.0   4065.0
31.0                 57  152.0   3707.0
32.0                 91  170.0   3868.0
33.0                 85  212.0   3717.0
34.0                102  149.0   3032.0
35.0                118  157.0   3504.0
36.0                115   21.0   4818.0
37.0                 88   27.0   2913.0
38.0                 64  265.0   2601.0
39.0                 55   22.0   3212.0
40.0                 43   46.0   2682.0
41.0                 56  198.0   2751.0
42.0                 51   26.0   3974.0
43.0                 56  107.0   4367.0
44.0                 51  156.0   3732.0
45.0                 51  133.0   2868.0
46.0                 41   37.0   3728.0
47.0                 22  374.0   4225.0
48.0                 34  358.0   2796.0
49.0                 21   14.0   1615.0
50.0                 16  356.0   2261.0
51.0                 11  452.0   1607.0
52.0                173    8.0   6675.0

#Multi-indexes

In [292]:
total_rooms=home_reviews.groupby(['total_rooms', 'total_bedrooms']).critic.agg([len])
total_rooms

                            len
total_rooms total_bedrooms
6.0         2.0               1
16.0        4.0               1
18.0        3.0               1
19.0        19.0              1
21.0        7.0               1
...                         ...
21988.0     4055.0            1
23915.0     4135.0            1
24121.0     4522.0            1
27870.0     5027.0            1
30450.0     5033.0            1

[2997 rows x 1 columns]

In [293]:
mi = total_rooms.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [294]:
total_rooms.reset_index()

      total_rooms  total_bedrooms  len
0             6.0             2.0    1
1            16.0             4.0    1
2            18.0             3.0    1
3            19.0            19.0    1
4            21.0             7.0    1
...           ...             ...  ...
2992      21988.0          4055.0    1
2993      23915.0          4135.0    1
2994      24121.0          4522.0    1
2995      27870.0          5027.0    1
2996      30450.0          5033.0    1

[2997 rows x 3 columns]

#Sorting

In [295]:
home_reviews.sort_values(by='housing_median_age')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,critic,index_backwards
842,-117.95,35.08,1.0,83.0,15.0,32.0,15.0,4.8750,141700.0,everyone,2158
1115,-116.95,33.86,1.0,6.0,2.0,8.0,2.0,1.6250,55000.0,everyone,1885
2117,-117.51,34.16,2.0,718.0,98.0,119.0,50.0,4.1000,315000.0,everyone,883
2429,-117.20,33.58,2.0,30450.0,5033.0,9419.0,3197.0,4.5936,174300.0,everyone,571
495,-122.29,37.82,2.0,158.0,43.0,94.0,57.0,2.5625,60000.0,everyone,2505
...,...,...,...,...,...,...,...,...,...,...,...
717,-122.27,37.86,52.0,2307.0,583.0,1127.0,548.0,1.8447,198200.0,everyone,2283
708,-118.21,33.97,52.0,4220.0,908.0,3731.0,892.0,3.1901,167600.0,everyone,2292
1826,-122.04,37.00,52.0,3365.0,644.0,796.0,333.0,2.9712,116600.0,everyone,1174
754,-121.49,38.56,52.0,1777.0,368.0,624.0,350.0,3.6729,137800.0,everyone,2246
1499,-122.21,37.79,52.0,762.0,190.0,600.0,195.0,3.0893,125000.0,everyone,1501

In [296]:
home_reviews.sort_values(by='housing_median_age', ascending=False)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,critic,index_backwards
2507,-118.15,33.77,52.0,2204.0,498.0,899.0,445.0,4.1765,393900.0,everyone,493
1865,-122.28,37.90,52.0,2003.0,250.0,658.0,244.0,10.0825,397000.0,everyone,1135
541,-117.18,32.76,52.0,2023.0,301.0,649.0,285.0,4.7396,441700.0,everyone,2459
2876,-122.50,37.77,52.0,2299.0,441.0,1252.0,415.0,5.0562,336700.0,everyone,124
306,-122.65,38.23,52.0,1735.0,347.0,712.0,343.0,3.1711,200800.0,everyone,2694
...,...,...,...,...,...,...,...,...,...,...,...
2117,-117.51,34.16,2.0,718.0,98.0,119.0,50.0,4.1000,315000.0,everyone,883
1271,-120.98,37.59,2.0,5042.0,834.0,2784.0,787.0,4.6484,145900.0,everyone,1729
2429,-117.20,33.58,2.0,30450.0,5033.0,9419.0,3197.0,4.5936,174300.0,everyone,571
1115,-116.95,33.86,1.0,6.0,2.0,8.0,2.0,1.6250,55000.0,everyone,1885
842,-117.95,35.08,1.0,83.0,15.0,32.0,15.0,4.8750,141700.0,everyone,2158

In [297]:
home_reviews.sort_index()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,critic,index_backwards
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,everyone,3000
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,everyone,2999
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,everyone,2998
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,everyone,2997
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,everyone,2996
...,...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,everyone,5
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,everyone,4
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,everyone,3
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,everyone,2
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,everyone,1

In [298]:
home_reviews.sort_values(by=['total_bedrooms','total_rooms'])

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,critic,index_backwards
1115,-116.95,33.86,1.0,6.0,2.0,8.0,2.0,1.6250,55000.0,everyone,1885
2640,-114.62,33.62,26.0,18.0,3.0,5.0,3.0,0.5360,275000.0,everyone,360
740,-117.12,32.66,52.0,16.0,4.0,8.0,3.0,1.1250,60000.0,everyone,2260
1355,-117.11,32.66,52.0,25.0,5.0,14.0,9.0,1.6250,118800.0,everyone,1645
2690,-118.06,34.03,36.0,21.0,7.0,21.0,9.0,2.3750,175000.0,everyone,310
...,...,...,...,...,...,...,...,...,...,...,...
292,-116.36,33.78,6.0,24121.0,4522.0,4176.0,2221.0,3.3799,239300.0,everyone,2708
2014,-117.22,32.86,4.0,16289.0,4585.0,7604.0,4176.0,3.6287,280800.0,everyone,986
978,-121.53,38.48,5.0,27870.0,5027.0,11935.0,4855.0,4.8811,212200.0,everyone,2022
2429,-117.20,33.58,2.0,30450.0,5033.0,9419.0,3197.0,4.5936,174300.0,everyone,571
1563,-118.44,33.98,21.0,18132.0,5419.0,7431.0,4930.0,5.3359,500001.0,everyone,1437

#Data types

In [299]:
home_reviews.longitude.dtype

dtype('float64')

In [300]:
home_reviews.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
critic                 object
index_backwards         int64
dtype: object

In [301]:
home_reviews.index_backwards.astype('float64')

0       3000.0
1       2999.0
2       2998.0
3       2997.0
4       2996.0
         ...
2995       5.0
2996       4.0
2997       3.0
2998       2.0
2999       1.0
Name: index_backwards, Length: 3000, dtype: float64

#Missing data

In [302]:
home_reviews[pd.isnull(home_reviews.total_rooms)]

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value, critic, index_backwards]
Index: []

In [303]:
home_reviews.critic.fillna("Unknown")

0       everyone
1       everyone
2       everyone
3       everyone
4       everyone
          ...
2995    everyone
2996    everyone
2997    everyone
2998    everyone
2999    everyone
Name: critic, Length: 3000, dtype: object

In [304]:
home_reviews.critic.replace("everyone", "noteveryone")

0       noteveryone
1       noteveryone
2       noteveryone
3       noteveryone
4       noteveryone
           ...
2995    noteveryone
2996    noteveryone
2997    noteveryone
2998    noteveryone
2999    noteveryone
Name: critic, Length: 3000, dtype: object

#Renaming

In [307]:
home_reviews.rename(columns={'critic':'all'})

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,all,index_backwards
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,everyone,3000
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,everyone,2999
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,everyone,2998
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,everyone,2997
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,everyone,2996
...,...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,everyone,5
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,everyone,4
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,everyone,3
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,everyone,2
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,everyone,1

In [308]:
home_reviews.rename(index={0: 'firstEntry', 1: 'secondEntry'})

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,critic,index_backwards
firstEntry,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,everyone,3000
secondEntry,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,everyone,2999
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,everyone,2998
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,everyone,2997
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,everyone,2996
...,...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,everyone,5
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,everyone,4
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,everyone,3
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,everyone,2
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,everyone,1

In [310]:
home_reviews.rename_axis("homes", axis='rows').rename_axis("fields", axis='columns')

fields,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,critic,index_backwards
homes,,,,,,,,,,,
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,everyone,3000
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,everyone,2999
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,everyone,2998
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,everyone,2997
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,everyone,2996
...,...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,everyone,5
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,everyone,4
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,everyone,3
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,everyone,2
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,everyone,1

#Combining

In [312]:
california_housing_test = pd.read_csv("/content/sample_data/california_housing_test.csv")
california_housing_train = pd.read_csv("/content/sample_data/california_housing_train.csv")

pd.concat([ california_housing_test, california_housing_train ])

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [314]:
left = california_housing_test.set_index(['longitude','latitude'])
right = california_housing_train.set_index(['longitude','latitude'])

left.join(right, lsuffix='_test', rsuffix='_train')

                    housing_median_age_test  total_rooms_test  \
longitude latitude
-124.18   40.79                        40.0            1398.0
-124.17   41.80                        16.0            2739.0
-124.16   40.77                        35.0            2141.0
          40.79                        46.0            3042.0
          40.79                        46.0            3042.0
...                                     ...               ...
-114.98   33.07                        18.0            1183.0
-114.62   33.62                        26.0              18.0
-114.61   33.62                        16.0            1187.0
-114.55   32.80                        19.0            2570.0
-114.49   33.97                        17.0            2809.0

                    total_bedrooms_test  population_test  households_test  \
longitude latitude
-124.18   40.79                   311.0            788.0            279.0
-124.17   41.80                   480.0           1259.0            436.0
-124.16   40.77                   438.0           1053.0            434.0
          40.79                   597.0           1206.0            541.0
          40.79                   597.0           1206.0            541.0
...                                 ...              ...              ...
-114.98   33.07                   363.0            374.0            127.0
-114.62   33.62                     3.0              5.0              3.0
-114.61   33.62                   261.0           1115.0            242.0
-114.55   32.80                   820.0           1431.0            608.0
-114.49   33.97                   635.0             83.0             45.0

                    median_income_test  median_house_value_test  \
longitude latitude
-124.18   40.79                 1.4668                  64600.0
-124.17   41.80                 3.7557                 109400.0
-124.16   40.77                 2.8529                  85600.0
          40.79                 2.1135                  90600.0
          40.79                 2.1135                  90600.0
...                                ...                      ...
-114.98   33.07                 3.1607                  57500.0
-114.62   33.62                 0.5360                 275000.0
-114.61   33.62                 2.1759                  61500.0
-114.55   32.80                 1.2750                  56100.0
-114.49   33.97                 1.6154                  87500.0

                    housing_median_age_train  total_rooms_train  \
longitude latitude
-124.18   40.79                         39.0             1836.0
-124.17   41.80                          NaN                NaN
-124.16   40.77                          NaN                NaN
          40.79                         52.0             2148.0
          40.79                         52.0             1264.0
...                                      ...                ...
-114.98   33.07                          NaN                NaN
-114.62   33.62                          NaN                NaN
-114.61   33.62                          NaN                NaN
-114.55   32.80                          NaN                NaN
-114.49   33.97                          NaN                NaN

                    total_bedrooms_train  population_train  households_train  \
longitude latitude
-124.18   40.79                    352.0             883.0             337.0
-124.17   41.80                      NaN               NaN               NaN
-124.16   40.77                      NaN               NaN               NaN
          40.79                    421.0             975.0             430.0
          40.79                    277.0             591.0             284.0
...                                  ...               ...               ...
-114.98   33.07                      NaN               NaN               NaN
-114.62   33.62                      NaN               NaN               NaN
-114.61   33.62                      NaN               NaN               NaN
-114.55   32.80                      NaN               NaN               NaN
-114.49   33.97                      NaN               NaN               NaN

                    median_income_train  median_house_value_train
longitude latitude
-124.18   40.79                  1.7450                   70500.0
-124.17   41.80                     NaN                       NaN
-124.16   40.77                     NaN                       NaN
          40.79                  2.2566                   92700.0
          40.79                  1.7778                   76900.0
...                                 ...                       ...
-114.98   33.07                     NaN                       NaN
-114.62   33.62                     NaN                       NaN
-114.61   33.62                     NaN                       NaN
-114.55   32.80                     NaN                       NaN
-114.49   33.97                     NaN                       NaN

[4944 rows x 14 columns]